.socialsmap_header {
    position: absolute;
    bottom: 0;
    left: 57%;
    transform: translateX(-60%);
    width: 14rem;
}

.header_socials {
    display: block;
    width: 100%;
}

.area {
    /* background: black; */
    /* background: rgb(255, 0, 208); */
    display: block;
    opacity: 1;
    position: absolute;
    border-radius: 100%;
    /* transition: 200ms ease; */
}

#area1_header {
    width: 65px;
    height: 65px;
    top: 5.75rem;
    left: 27.2%;
    transform: translate(-30.5%);
}

#area1_header:hover {
    background-image: url(images/facebook_hover.svg);
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    transition: scale 200ms ease;
    scale: 1.1;
}

#area2_header {
    width: 65px;
    height: 65px;
    top: 2.6rem;
    left: 61.4%;
    transform: translate(-24.4%);

}

#area2_header:hover {
    background-image: url(images/instagram_hover.svg);
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    transition: scale 200ms ease;
    scale: 1.1;
}

#area1_about {
    position: relative;
    width: 65px;
    height: 65px;
    top: 5.15rem;
    left: calc(100% - 147.3px);
}

#area1_about:hover {
    background-image: url(images/wikipedia_hover.svg);
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    transition: 200ms ease;
    scale: 1.3;
}

#area2_about {
    position: relative;
    width: 65px;
    height: 65px;
    top: -2.66rem;
    left: calc(100% - 50.7px);
}

#area2_about:hover {
    background-image: url(images/youtube_hover.svg);
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    transition: 200ms ease;
    scale: 1.3;
}