
.container {
    transform: scale(0.7);
    background: url(images/socials-svg.svg) center no-repeat;
    background-size: contain;
    position: absolute;
    width: 15rem;
    height: 15rem;
    left: 0;
    bottom: 0;
}

.about_socials_container {
  right: 0;
  bottom: 0;
  left: unset;
}
    
.fa-facebook-f {
  font-size: 2rem;
  color: black;
}
    
.fa-instagram {
  font-size: 2.7rem;
  color: black;
}

.fa-wikipedia-w {
  font-size: 1.8rem;
}

.fa-youtube {
  font-size: 1.8rem;
}

.icons {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  width: 4.6rem;
  height: 4.6rem;
  background: #A3BA3D;
  border-radius: 50%;
  text-align: center;
  padding: 2rem;
  
}
    
.fb {
    top: 7.1rem;
    left: 2.1rem;
}
  
.ig {
    top: 3.3rem;
    left: 8.45rem;
}
.wiki {
  top: 7rem;
  left: 2rem;
}

.yt {
  top: 3.2rem;
  left: 8.3rem;
}
    
.ig:hover,
.fb:hover,
.wiki:hover,
.yt:hover {
  transform: scale(1.03);
  background: #C0AD04;
  transition: 250ms ease;
}


/* .ig:hover .fa-brands, .fb:hover .fa-brands {
  color: #4F6100;
}  */