.area {
    background: black;
    display: block;
    opacity: 0;
    position: absolute;
    border-radius: 100%;
    transition: 200ms ease;
}

#area1 {
    width: 64px;
    height: 65.36px;
    top: 43.64rem;
    left: 8.45rem;
}

#area1:hover {
    opacity: .3;
}

#area2 {
    width: 72px;
    height: 72px;
    top: 39.65rem;
    left: 14.21rem;

}

#area2:hover {
    opacity: .3;
}
