nav {
    position: absolute;
    top: 3rem;
    right: 0;
}

.main_navbar {
    display: flex;
    gap: 2rem;
    font-size: 1.8rem;
    list-style: none;
    color: var(--text);
    background: var(--navBg);
    padding: 1rem 1.5rem calc(1rem - 3px) 1.5rem;
    border-radius: .2rem 0 0 .2rem;
    position: relative;
}

.main_navbar > li::after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background: var(--text);
    position: relative;
    left: 50%;
    top: .5rem;
    transform: translateX(-50%);
}

.main_navbar > li:hover::after {
    width: 100%;
    transition: ease 300ms;
}