@import 'maps.css';
@import 'navbar.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

:root {
    --title: #D0D0D0;
    --subTitle: #BCA582;
    --text: #A3BA3D;
    --textBasic: #FFFFFF;
    --panel: hsla(193, 23%, 12%, 0.97);
    --navBg: hsla(196, 82%, 6%, 0.627);
}

::selection {
    background-color: var(--text);
    color: var(--navBg);
}

* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

html {
    scroll-behavior: smooth;
  }

body {
    font-family: 'Roboto Condensed', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

header {
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-image: url(images/bg-main-secondary.svg), url(images/bg-main.png);
    background-size: auto, cover;
    background-repeat: no-repeat;
    position: relative;
}

.header_title {
    position: relative;
    top: 14.5rem;
    left: 7rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    width: 49rem;
    margin-bottom: 29rem;
}

.header_title_logo {
    width: 25%;
}

h1 {
    font-size: 3rem;
    color: var(--title);
}

.header_title_sub-title {
    font-size: 1.5rem;
    color: var(--subTitle)
}

.header_socials {
    position: relative;
    bottom: 0;
    left: calc(100% - 277px);
}

section {
    width: 100%;
    min-height: 100vh;

    padding: 5rem;
}

.about {
    position: relative;
    background-image: url(images/shape-about.png), url(images/bg-about.png);
    background-position: calc(100% - 18rem) center, center;
    background-repeat: no-repeat;
    background-size: cover;

}

.about_container {
    width: 60%;
}

h2 {
    color: var(--text);
    font-size: 3rem;
    font-weight: normal;
    margin-bottom: 5rem;
}

.about_text {
    font-size: 1.6rem;
    color: var(--textBasic);
    line-height: 2.3rem;
}

.about_socials {
    position: relative;
    left: calc(100% - 200px);
    top: 13rem;
}

.br_hidden {
    display: none;
}

/* -----media queries------ */

@media (max-width: 1000px) {

    header {
        background-image: url(images/bg-main-secondary-mobile.svg), url(images/bg-main-mobile.png);
        background-size: 130% auto, cover;
    }

    .header_main_navbar {
        display: flex;
        position: fixed;
        z-index: 99;
        height: 100dvh;
        top: 0;
        right: -50vw;
        width: 50vw;
        transition: 0.3s cubic-bezier(.39,.58,.57,1);
    }

    .header_title {
        top: 2.5rem;
        left: 2rem;
        width: 30rem;
        margin-bottom: 33rem;
    }

    h1 {
        font-size: 2.2rem;
        font-weight: 300;
    }

    .br_hidden {
        display: block;
    }
}