@import 'maps.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

:root {
    --title: #D0D0D0;
    --subTitle: #BCA582;
    --text: #A3BA3D;
    --textBasic: #FFFFFF;
    --panel: hsla(193, 23%, 12%, 0.97);
    --navBg: #0b0c03;
    --swiper-pagination-bottom: -2rem;
    --swiper-pagination-bullet-size: 12px;
    --swiper-pagination-color: var(--text);
    --multiplier: 1;
}

::selection {
    background-color: var(--text);
    color: var(--navBg);
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: var(--navBg);
}

a {
    width: fit-content;
    color: inherit;
    text-decoration: none;
}

/* --------- MAIN SECTION - HEADER --------- */

header {
    width: 100%;
    min-height: 100lvh;
    height: auto;
    background-image: url(images/bg-main-secondary.svg), url(images/bg-main.png);
    background-size: auto, cover;
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: left center, right center;
    position: relative;


    /* scroll-snap-align: start;
    scroll-snap-stop: always; */
}

    /* hamburger-menu */

.header_hamburgerBtn {
    display: none;
}


.bar1, .bar2, .bar3 {
    background-image: url(images/menu_bar.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 85%;
    height: 7px;
    display: block;
    margin-bottom: 6px;
}

    /* -------------  */

    /* main-navbar */

 .header_main_navbar {
    display: flex;
    justify-content: space-between;
    width: fit-content;
    margin-top: 3rem;
    margin-left: auto;
    position: fixed;
    right: 0;
    z-index: 999;
    color: var(--text);
    background: #0b0c03a8;
    transition: 100ms cubic-bezier(1, 0, 0, 1);
}

.sticky-menu {
    top: 0;
    backdrop-filter: blur(3rem);
    width: 100%;
    right: 0;
    margin-top: 0;
    background-color: #0b0c03a9;
    box-shadow: 0 1px 8px 5px #00000042;
    transition: 100ms;
}

.sticky-menu_link {
    top: 0;
    backdrop-filter: blur(3rem);
    width: 100%;
    right: 0;
    margin-top: 0;
    background-color: #0b0c03a9;
    box-shadow: 0 1px 8px 5px #00000042;
    transition: 100ms;
}


.main_descp {
    margin-left: 5rem;
    display: none;
    align-items: center;
}

.descp_logo {
    width: 2rem;
    margin-right: 1rem;
}

.descp_text {
    text-transform: uppercase;
    font-size: 1.8rem;
    color: var(--title);
}

.main_navbar {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    font-size: 1.8rem;
    list-style: none;
    padding: 1rem 1.5rem calc(1rem - 3px) 1.5rem;
    border-radius: .2rem 0 0 .2rem;
}

.main_navbar > li {
    position: relative;
}

.main_navbar > li::after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background: var(--text);
    position: relative;
    left: 50%;
    top: .8rem;
    transform: translateX(-50%);
}

.main_navbar > li:hover::after {
    transition: ease 300ms;
}

.main_navbar > li:hover::after, li.underline::after {
    width: 100%;
}

.menu-transition::after {
    transition: ease 300ms;
}


/* ----------------------- */

.header_title {
    position: relative;
    display: flex;
    top: 25vh;
    align-items: center;
    gap: 1.5rem;
    width: 49rem;
    margin-left: 6rem;
    background: linear-gradient(90deg, var(--navBg) 0%, var(--navBg) 80%, #0b0c03b4 85%, rgba(0, 0, 0, 0) 100%);
}

.header_title_logo {
    width: 25%;
}

.header_socials_container {
    left: 3rem
}

h1 {
    font-size: 3rem;
    color: var(--title);
}

.header_title_sub-title {
    font-size: 1.5rem;
    color: var(--subTitle);
    padding-bottom: 2rem;
}


/* **********  ********** */

section {
    width: 100%;
    min-height: 100lvh;
    height: auto;
    padding: 5rem;
}

/* --------- ABOUT SECTION --------- */

.about {
    position: relative;
    background-image: url(images/shape-about.png), url(images/bg-about.png);
    background-position: calc(100% - 30vw) center, center;
    background-repeat: no-repeat;
    background-size: 80vw, cover;
    background-attachment: local, fixed;

}

.about_container {
    width: 60%;
}

h2 {
    color: var(--text);
    font-size: 3rem;
    font-weight: normal;
    margin-bottom: 5rem;
}

.about_text {
    font-size: 1.6rem;
    color: var(--textBasic);
    line-height: 2.3rem;
}

.br_hidden {
    display: none;
}

/* **********  ********** */

/* --------- HISTORY SECTION --------- */

.history {
    background-image: url(images/shape_right.png), url(images/bg-history.png);
    background-repeat: no-repeat;
    background-size: contain, cover;
    background-attachment: local, fixed;
    background-position: -10rem 0, center;
    position: relative;
}

.history_title {
    text-align: right;
}

.history_link_container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
    margin: 2rem auto;
}

.history_link {
    position: relative;
    /* width: 25rem;
    height: 15rem; */

    width: 40%;
    height: 17vw;

    border: 3px solid black;
    background: rgba(255, 0, 0, 0.212);
    background-size: 100%;
    background-position-y: -15px;
    background-repeat: no-repeat;
    filter: grayscale(1);

    transition: 150ms ease;
}

.history_link:hover {
    filter: grayscale(0);
    background-position-x: -25px;
    background-size: 110%;
}

.history_link:hover::before {
    color: #A3BA3D;
} 

#barracs_link {
    background-image: url(images/kas610.jpg);
}

#barracs_link::before {
    content: "KASÁRNA 6. ŘÍJNA";
}

#chemical_link {
    background-image: url(images/mist.jpg);
}

#chemical_link::before {
    content: "CHEMICKÉ VOJSKO";
}

#lbc_link {
    background-image: url(images/lbc_link.jpg);
}

#lbc_link::before {
    content: "VOJSKO V LIBERCI";
}

.history_link::before {
    color: white;
    font-size: 1.5rem;
    font-weight: 300;
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    background: #000000ab;
    padding: .3rem 0;
}


.barracs_history_content {
    background: rgba(255, 0, 0, 0.226);
}


h4 {
    margin-bottom: 1rem;
    color: #ababab;
}

/* --------- CAREER SECTION --------- */

.career {
    background-image: url(images/bg-career.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 4rem;
}

.career_h2 {
    margin-bottom: 2.5rem;
}

.career_text {
    font-size: 1.6rem;
    color: var(--textBasic);
    line-height: 2.3rem;
}

.career_div1 {
    margin-bottom: 3rem;
}

.career_div1 p {
    margin-bottom: 1rem;
}

.career_text {
    margin-bottom: 2rem;
}

.career_list {
    margin-left: 3rem;
}

.career_link {
    color: var(--text);
}

.career_link:hover {
    color: var(--subTitle);
}

.career_link:visited {
    color: var(--subTitle);
}

#career swiper-container {
    width: 100%;
    height: 100%;
    overflow: visible;
    overflow-inline: clip;
    overflow-x: clip;
    cursor: pointer;
}


#career swiper-slide img {
    display: block;
}

.career_swiperItem {
    /* width: auto; */
    background-image: url(images/career_shape.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 3px solid var(--text);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    color: var(--textBasic);
}

.swiperItem_header {
    display: flex;
    align-self: normal;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    border-bottom: 3px solid var(--text);
    padding: 1rem;
}

.swiperItem_position {
    text-align: left;
    text-transform: uppercase;
    font-size: calc(24rem/16);
    flex-basis: 50%;
    display: block;
}

.swiperItem_rank {
    width: auto;
    height: 20px;
}


.swiperItem_description {
    padding: 1.5rem;
    text-align: left;
}


/* **********  ********** */

/* --------- GALLERY SECTION --------- */

.gallery {
    background-image: url(images/bg-gallery.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-height: 50lvh;
}

#swiperContainer2 {
    max-height: 6rem;
}

swiper-container {
    width: 100%;
    height: 100%;
  }

  swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }


  swiper-container {
    width: 75%;
    height: 40vw;
    margin-left: auto;
    margin-right: auto;
  }

  swiper-slide {
    background-size: cover;
    background-position: center;
  }

  swiper-slide img.mini {
    object-fit: cover;
    height: 6rem;
  }

  .mySwiper {
    width: 75%;
  }

  .mySwiper2 {
    height: 6rem;
    box-sizing: border-box;
    padding: 10px 0;
  }

  .mySwiper2 swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }

  .mySwiper2 .swiper-slide-thumb-active {
    opacity: 1;
  }

  swiper-slide .mini {
    cursor: pointer;
  }


/* **********  ********** */

.contact {
    min-height: 30vh;
    padding: 3rem;
    /* background-color: #3F483E; */
    background: #444e23;
}

.contact_row1 {
    display: grid;
    /* justify-content: start; */
    align-items: center;
    justify-items: center;
    grid-template-columns: auto auto auto;
    gap: 2rem;
}


.contact_img {
    max-width: 80%;
}

.border-radius {
    border-radius: 2rem;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 4rem;
    position: relative;

    background-image: url(images/footer-bg.svg);
    background-color: #1a1e12;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 50vh;
    height: auto;
    padding: 3rem;
    /* padding-bottom: 0; */
}

.footer_contacts_container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer_location, .footer_phone {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.fa-location-dot {
    color: var(--text);
    font-size: 4rem;
}

.fa-phone {
    color: var(--text);
    font-size: 3rem;
}

.footer_contact_text {
    color: var(--textBasic);
    font-weight: 400;
    line-height: 1.7rem;
}

.footer_contact-us {
    color: var(--subTitle);
}

.footer_socials {
    width: 100%;
    background: var(--navBg);
}

.footer_socials_ul {
    position: relative;
    bottom: 0;
    list-style: none;
    background: #878b6e54;
    width: 100%;
    padding: 1rem;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.card-header {
    font-weight: bold;
    margin-bottom: 1rem;
}

.footer_icon {
    color: var(--text);
    font-size: 2rem;
    transition: 200ms;
}

.footer_icon:hover {
    color: whitesmoke;
    scale: 1.2;
}


/* -----media queries------ */

@media (max-width: 1000px) {

    /* html {
        scroll-snap-type: y mandatory;
        scroll-padding-top: 0;
        }
    
    section, header {
        scroll-snap-align: start;
        scroll-snap-stop: normal;
    } */

    section {
        padding: 2rem 3rem;
    }

    h2 {
        margin-bottom: 2rem;
    }

    /* --------- MAIN PAGE - HEADER - queries 1000px --------- */

    header {
        background-image: url(images/bg-main-secondary-mobile.svg), url(images/bg-main-mobile.png);
        background-size: 130% auto, cover;
        background-attachment: local;
        background-position: center top, center top;
        padding: 2rem 3rem;
    }



    .header_hamburgerBtn {
        z-index: 11;
        display: block;
        border: none;
        background: none;
        width: 50px;
        height: 48px;
        position: fixed;
        left: calc(100% - 75px);
        top: 2.7rem;
        cursor: pointer;
    }

    .bar1, .bar3 {
        transition: 0.3s;
    }

    .active .bar1 {
        transform: rotate(-45deg) translate(-10px, 7px);
    }

    .active .bar2 {
        opacity: 0;
    }

    .active .bar3 {
        transform: rotate(45deg) translate(-11px, -7px);
    }

    .header_main_navbar {
        display: flex;
        position: fixed;
        z-index: 10;
        height: 100lvh;
        top: 0;
        right: -50vw;
        width: 50vw;
        padding-top: 0;
        transition: 0.3s cubic-bezier(.39,.58,.57,1);
        margin-top: 0;
    }

    .header_main_navbar.shown {
        right: 0;
    }

    .main_navbar {
        position: relative;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
        padding-top: 7rem;
        padding-left: 2rem;
        font-size: 2rem;
        border-radius: 0;
        background-color: hsla(197, 81%, 6%, .94);
        overflow-y: scroll;
        justify-content: flex-start;
    }

    .main_navbar::-webkit-scrollbar {
        display: none;
    }

    .main_navbar > li::after {
        top: .3rem;
    }

    .main_navbar>li:hover::after {
        width: 100%;
        transition: ease 300ms;
    }

    .main_descp {
        display: none;
    }
   
    .br_hidden {
        display: block;
    }

    .header_title {
        padding: 0;
        margin: 0;
        top:0;
        margin-top: 3rem;
        width: 100%;
        background: none;
    }

    .header_title_logo {
        width: 30%;
        margin-right: .5rem;
    }

    h1 {
        font-size: calc(var(--multiplier)*3rem);
        font-weight: 500;
    }

    .header_title_sub-title {
        font-size: calc(var(--multiplier)*1.5rem);
    }

    .container {
        left: unset;
        right: -20px;
    }

    /* **********  ********** */

    /* --------- ABOUT SECTION - queries --------- */

    .about {
        padding-bottom: 5rem;
        background-image: url(images/shape-about-mobile.svg), url(images/bg-about.png);
        background-size: 130vw, cover;
        background-position: top center, center;
    }

    .about_container {
        width: unset;
    }

    .about_text {
        font-size: 1.4rem;
    }


    /* **********  ********** */

    /* --------- HISTORY SECTION - queries --------- */

    .history {
        background-image: url(images/shape-about.png), url(images/bg-history.png);
        background-size: auto,cover;
        background-position: center top -1rem;
    }

    .history_title {
        text-align: left;
    }

    .history_link_container {
        align-items: center;
    }

    .history_link {
        max-width: 90%;
        width: 25rem;
        min-height: 7rem;
        height: 12rem;
    }
    
    
    section#gallery {
        padding-left: 1rem;
        padding-right: 1rem;
     }
 
    #gallery .mySwiper {
        width: 100%;
     }
 
    #gallery swiper-container {
        width: 100%;
        height: 60vh;
     }

     .contact_row1 {
        grid-template-columns: auto auto;
    }

    #mapa {
        display: none;
    }

}

@media (max-width: 650px) {

    .header_title {
            padding: 0;
            margin: 0;
            top: 0;
            gap: 0;
            margin-top: 3rem;
            width: 100%;
            background: none;
        }
    
        .header_title_logo {
            width: 8rem;
            margin-right: .8rem;
        }
    
        h1 {
            font-size: 1.2rem;
            font-weight: 500;
        }
    
        .header_title_sub-title {
            font-size: .8rem;
        }

    #gallery swiper-container {
        width: 100%;
        height: 33vh;
    }

        #gallery .mySwiper2 swiper-slide {
        height: 50%;
    }
}


@media (max-width: 450px) {

    .header_hamburgerBtn {
        top: 1.2rem;
    }

    header {
        padding: 1rem 1.5rem;
    }

    .header_main_navbar {
        right: -75vw;
        width: 75vw;
    }



    section {
        padding: 1rem 1.5rem;
    }

    h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .about_text {
        font-size: 1rem;
        line-height: 1.8rem;
    }

    .career_text {
        font-size: 1.1rem;
    }

    .contact {
        padding: 1rem 1.5rem;
     }

    .footer_contact_text {
        font-size: .8rem;
        line-height: 1.4rem;
     }

     .fa-location-dot {
        font-size: 2rem;
     }
     .fa-phone {
        font-size: 1.4rem;
     }

}

    /* back-to-top BTN */

.back-to-top {
    display: none;
    width: 50px;
    height: 50px;
    /* background: var(--text) url(images/icon_right.png) center no-repeat; */
    transform: rotate(-90deg);
    position: sticky;
    left: calc(100% - 80px);
    bottom: 2rem;
    opacity: .6;
    border-radius: 1rem;
    border: none;
    opacity: .8;
    transition: opacity 250ms ease-in-out;
}

.back-to-top:hover {
    opacity: .9;
    cursor: pointer;
}

.hidden {
    opacity: 0;
    z-index: -10;
    pointer-events: none;
    /* transition: 150ms ease-in; */
}
        /* -------- */


    /* custom scrollbar??? */

::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--text);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--navBg);
}
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #0a1905;
}